.card{
    /* color: aliceblue;
    width: 400px;
    height: 440px;
    padding: 40px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(137, 161, 179);
    background: linear-gradient(90deg, rgb(94, 95, 95)0%, hsla(260, 29%, 36% ,1)100%);
    -webkit-box-shadow: 27px 27px 11px -18px rgba(0,0,0,0.44);
    -moz-box-shadow: 27px 27px 11px -18px rgba(0,0,0,0.44);
    box-shadow: 27px 27px 11px -18px rgba(0,0,0,0.44); */

    padding: 20px;
    background-color: azure;
}

.form-group{
    padding: 4px;
}

.header{
    padding: 10px;
    text-align: center;
}

.container{
    padding-top: 25px;
}